<div class="pt-5">

   <div class="row">
        <div class="col-md-12">
            <form *ngIf="userRecord != null" #statusNgForm='ngForm' (ngSubmit)='handleFormSubmit($event, statusNgForm, statusFormGroup)'>
                    
                            <p class="h4 text-center mb-4">My Profile</p>
                
                            <!-- Input name -->
                            <div class="md-form">
                                <i class="fa fa-id-card prefix grey-text"></i>
                                <input type="text" id="fullName" class="form-control" name="name" [(ngModel)]="userRecord.name">
                                <label for="fullName" [ngClass]="{ 'active': (userRecord.name != null) }">Your full name</label>
                            </div>
                
                            <!-- Display current profile pic -->
                            <!-- <div class="md-form">
                                <img :src="userRecord.profile_pic" alt="placeholder" class="img-thumbnail h-50">
                            </div> -->
                
                            <!-- Profile Pic upload -->
                            <div class="md-form">
                
                                            <i class="fa fa-user prefix grey-text"></i>
                                            
                                            <input #myInput 
                                                    type="file"
                                                    id="file"
                                                    class="form-control"
                                                    (change)="handleFileInput($event.target.files)">

                                            <label for="file" class="active">Select picture</label>
                                    
                                        <!-- <textarea id='fileDescription' name='fileDescription' formControlName='fileDescription'></textarea>
                                    
                                        <div *ngIf='fileDescription.invalid && (fileDescription.dirty || fileDescription.touched)'>
                                            <div *ngIf='fileDescription.errors.required'>
                                                Content is required.
                                            </div>
                                            <div *ngIf='fileDescription.errors.maxlength'>
                                                Max length is 280
                                            </div>
                                            <div *ngIf='fileDescription.errors.minlength'>
                                                Min length is 4
                                            </div>
                                        </div> -->
                                    
                                        
                                    <div class="row">
                                        <div class="col-md-7">    
                                            <button type='submit' class='btn btn-info' [disabled]='!fileToUpload'>Upload</button>
                                            <button type='button' class='btn btn-info' (click)='statusNgForm.resetForm({})'>Reset</button>
                                        </div>

                                        <div class="col-md-12" *ngIf='uploadProgress > 25'>
                                            <div class="px-4 py-2 warning-color-dark">
                                                <span *ngIf='uploadProgress > 25' class="text-white">{{ uploadProgress }}%</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                            </div>
                
                            <!-- New password -->
                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="text" id="password" class="form-control" name="password"
                                        (keyup)="confirmPasswordsMatch()" [(ngModel)]="userRecord.password">
                                <label for="password">Password</label>
                            </div>
                
                            <!-- Confirm password -->
                            <div class="md-form">
                                <i class="fa fa-lock prefix grey-text"></i>
                                <input type="text" id="confirm-password" class="form-control" name="confirm_password"
                                        (keyup)="confirmPasswordsMatch()" [(ngModel)]="temp_confirm_password">
                                <label for="confirm-
                                password">Confirm Password</label>
                            </div>
                
                            <div class="md-form" *ngIf="!passwordsMatch">
                                <span class="alert alert-danger">Passwords do not match</span>
                            </div>
                
                            <!-- Email -->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <input type="text" id="email" class="form-control" name="email" [(ngModel)]="userRecord.email">
                                <label [ngClass]="{ 'active' : (userRecord.email != null)}" for="email">Email</label>
                            </div>
                
                            <!-- Update button -->
                            <div class="text-center mt-4">
                                <button class="btn btn-default" type="button" (click)="updateUsersProfile()">
                                    <i class="fa fa-edit prefix grey-text"></i>&nbsp;  Update Profile
                                </button>
                            </div>
                
                    
            </form>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12">
        
        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>