<div class="row d-flex justify-content-center mt-5 pt-5">
    <div class="col-lg-8 col-md-10 col-sm-12">
        <form #userForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!loggedIn">
            <p class="h4 text-center mb-4">Sign In</p>

            <!-- Material input email -->
            <div class="md-form">
                <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                <input type="email" 
                        id="materialFormRegisterConfirmEx" 
                        class="form-control"
                        [(ngModel)]="user.email" 
                        name="email">
                <label for="materialFormRegisterConfirmEx">Your email</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" 
                        id="materialFormRegisterPasswordEx" 
                        class="form-control"
                        [(ngModel)]="user.password"
                        name="password">
                <label for="materialFormRegisterPasswordEx">Your password</label>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center">
                    <button class="btn btn-success" type="submit" [disabled]="userForm.form.invalid" >Login</button>
                </div>
                <div class="col-12 mt-5 text-center">
                    <!-- Facebook login button and Google -->
                    <div class="row d-flex justify-content-center align-items-center">

                        <div class="col-md-3 col-lg-2 px-0 text-right">
                                <strong>Or Sign in using</strong>
                        </div>
                        
                        <div class="col-md-6 col-lg-4 text-left">
                            <!-- Facebook login button -->
                            <button type="button" class="btn btn-primary" (click)="socialSignIn('facebook')">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </button>

                            <!-- Google login button -->
                            <button type="button" class="btn btn-danger" (click)="socialSignIn('google')">
                                <i class="fa fa-google"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </form>

        <div class="d-flex align-items-center justify-content-center text-center" style="margin-top:20vh;">
            
            <!-- Loading Icon displayed while verifying login -->
            <app-loading-icon *ngIf="loggedIn"></app-loading-icon>

        </div>
    </div>
</div>

<toaster-container [toasterconfig]="toasterconfig"></toaster-container>