<div class="card">
<!-- Project Title section -->
  <div class="card-title">
    <div class="col-md-3">
      Projects
    </div>

    <div class="col-md-3 align-right">
      <button class="btn btn-success" (click)="addNewProjectModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> New project
      </button>
    </div>
  </div>
  <!-- End title section -->

  <!-- Project body -->
  <div class="card-body" *ngIf="projects.length > 0">
    
    <!-- Single project with logs -->
    <div class="row" *ngFor="let project of projects; index as i;">                
      <!-- Collapse buttons -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <button class="btn btn-primary" 
              [attr.type]="'button'" 
              [attr.data-toggle]="'collapse'"
              [attr.data-target]="'#collapse' + i" 
              [attr.aria-expanded]="'false'" 
              [attr.aria-controls]="'collapse' + i">

              {{ project.title }}

              <div class="grey-text">
                {{ project.description }}
              </div>
              </button>
            <br>
          </div>

          <div class="col-md-4">
            <button class="btn btn-primary"  (click)="logFor(project)">
              <i class="fa fa-plus"></i> &nbsp;LOG
            </button>
          </div>
          </div>
      </div>
      <!-- / Collapse buttons -->

      <!-- Collapsible element -->
      <div class="col-md-12" *ngIf="logs.length > 0">
        <div [attr.class]="'collapse show'"
            [attr.id]="'collapse' + i"
            [attr.aria-labelledby]="'collapse' + i"
            *ngFor="let log of logs; index as j; trackBy: logTrackFunction;">
            <div class="mt-3 card card-body pointer" 
                  (click)="viewLog(project, log)"
                  *ngIf="log.project_id == project._id">
              
              <div class="row">  
                <div class="col-md-4">
                  {{ log.log_message }} 
                </div>
                
                <div class="col-md-4">
                  by {{ log.user.name }} 
                  <span class="badge badge-pill red">{{ log.user.role }}</span>
                </div>

                <div class="col-md-4">
                  <!-- Displays the time log was published from now -->
                  <small> {{ getDatePublished(log) | amTimeAgo:true }}</small> 

                  <!-- This displays an icon to mark the status of the project -->
                  <h6 class="badge badge-pill green" *ngIf="logStatuses.SEEN == log.log_status">
                      <i class="fa fa-check mr-1 text-white" aria-hidden="true"></i>
                      {{ logStatuses.SEEN }}
                  </h6>

                  <!-- This displays an icon to indicate the log needs to be reviewed by the user-->
                  <h6 class="badge badge-pill red" *ngIf="logStatuses.REVIEW == log.log_status">
                      <i class="fa fa-edit mr-1 text-white" aria-hidden="true"></i>
                      {{ logStatuses.REVIEW }}
                  </h6>

                  <!-- This displays an icon to indicate the log is pending and needs approval by admin -->
                  <h6 class="badge badge-pill warning-color" *ngIf="logStatuses.PENDING == log.log_status">
                      <i class="fa fa-thumb-tack mr-1 text-white" aria-hidden="true"></i>
                      {{ logStatuses.PENDING }}
                  </h6>
                  
                  <!-- Button to delete log-->
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteLog($event, project, log)">
                      <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                      Delete                            
                  </button>
    
                </div>
              </div>

              
            </div>
        </div>
      </div>
      <!-- / Collapsible element -->

      </div>
    </div>


  <!-- Modal component -->
  <app-modal *ngIf="showModal"
              [projectProps]="projectProps"
              (modalClosed)="showModal = false"
              (modalDone)="saveOperation($event)"></app-modal>

</div>