<div class="card">
<!-- Project Title section -->
  <div class="card-title">
    <div class="col-md-3">
      Projects
    </div>

    <div class="col-md-3 align-right">
      <button class="btn btn-success" (click)="addNewProjectModal()">
        <i class="fa fa-plus" aria-hidden="true"></i> New project
      </button>
    </div>
  </div>
  <!-- End title section -->

  <!-- Project body -->
  <div class="card-body" *ngIf="projects.length > 0">
    
    <!-- Single project with logs -->
    <div class="row" *ngFor="let project of projects; index as i;">                
      <!-- Collapse buttons -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
            <button class="btn btn-primary" 
              [attr.type]="'button'" 
              [attr.data-toggle]="'collapse'"
              [attr.data-target]="'#collapse' + i" 
              [attr.aria-expanded]="'false'" 
              [attr.aria-controls]="'collapse' + i">

              {{ project.title }}

              <div class="grey-text">
                {{ project.description }}
              </div>
              </button>
            <br>
          </div>

          <div class="col-md-4">
            <button class="btn btn-primary"  (click)="logFor(project)">
              <i class="fa fa-plus"></i> &nbsp;LOG
            </button>
          </div>
          </div>
      </div>
      <!-- / Collapse buttons -->

      <!-- Collapsible element -->
      <div class="col-md-12" *ngIf="logs.length > 0">
        <div [attr.class]="'collapse show'"
            [attr.id]="'collapse' + i"
            *ngFor="let log of logs; index as j; trackBy: logTrackFunction;">
            <div class="mt-3 card card-body pointer" 
                  (click)="viewLog(project, log)"
                  *ngIf="log.project_id == project._id">
              
              <div class="row">  
                <div class="col-md-4">
                  {{ log.log_message }} 
                </div>
                
                <div class="col-md-4">
                  by {{ log.user.name }} 
                  <span class="badge badge-pill red">{{ log.user.role }}</span>
                </div>
              </div>

            </div>
        </div>
      </div>
      <!-- / Collapsible element -->

      </div>
    </div>


  <!-- Modal component -->
  <app-modal *ngIf="showModal"
              [projectProps]="projectProps"
              (modalClosed)="showModal = false"
              (modalDone)="saveOperation($event)"></app-modal>

</div>