<div class="card">
<!-- Project Title section -->
  <div class="card-title">
    <div class="col-md-3">
      Projects
    </div>

    <div class="col-md-3 align-right">
      <button class="btn btn-success" (click)="showModal = true">
        <i class="fa fa-plus" aria-hidden="true"></i> New project
      </button>
    </div>
  </div>
  <!-- End title section -->

  <!-- Project body -->
  <div class="card-body" *ngIf="projectsAndLogs.length > 0">
    
    <!-- Single project with logs -->
    <div class="row" *ngFor="let project of projectsAndLogs; index as i;">                
      <!-- Collapse buttons -->
      <div class="col-md-12">
        
        <div class="col-md-8">
          <a class="" 
             [attr.href]="'#collapse' + i" 
             role="button" 
             data-toggle="collapse"
             [attr.data-target]="'#collapse' + i" 
             aria-expanded="false" 
             [attr.aria-controls]="'collapse' + i">

            {{ project.title }}

            <div class="grey-text">
              {{ project.description }}
            </div>
            </a>
          <br>
        </div>

        <div class="col-md-4">
          <button class="btn btn-primary"  (click)="logFor(project)">
            <i class="fa fa-plus"></i> &nbsp;LOG
          </button>
        </div>
      </div>
      <!-- / Collapse buttons -->

      <!-- Collapsible element -->
      <div class="collapse" [attr.id]="'collapse' + i" *ngIf="project.logs?.length > 0">
          <div class="mt-3" *ngFor="let log of project.logs">
            
            <div class="row">  
              <div class="col-md-4">
                {{ logs.log_message }} 
              </div>
              
              <div class="col-md-4">
                by {{ log.user.name }} 
                <span class="badge badge-pill red">{{ log.user.role }}</span>
              </div>
            </div>

          </div>
      </div>
      <!-- / Collapsible element -->

    </div>
  <!-- End of project render -->
  </div>

  <!-- Modal component -->
  <app-modal *ngIf="showModal"
              [projectProps]="projectProps"
              (modalClosed)="showModal = false"
              (modalDone)="saveOperation($event)"></app-modal>

</div>