<div class="row px-0 fixed" style="max-height:90%;">

<!-- Sidebar Menu -->
<div class="col-md-3">
    <aside class="unique-color-dark">

    <ul class="list-group">
    <li class="list-group-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['projects']">Projects</a></li>
    <li class="list-group-item" [routerLinkActive]="['active']"><a [routerLink]="['profile']">Profile</a></li>
    <li class="list-group-item" [routerLinkActive]="['active']"><a [routerLink]="['users']">Users</a></li>
    </ul>
    </aside>
</div>

    <!-- Router outlet -->
    <div class="col-md-9" style="overflow-y:scroll;">
        <router-outlet></router-outlet>
    </div>

</div>